.card.w-25.m-3.border-success
  .card-header.text-success
    = item.name
  .card-body.text-success
    -# item.image.to_sでも表示が可能    
    = image_tag item.image.url, alt: '画像がないです', height: '150px', width: '150px'
  .card-footer.border-success
    price:
    = item.price
